/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%; 
    padding: 15px;
  }

.onSales{
    color: green;
}

.notOnSales{
    color: red;
}

